html{ 
    background-color: rgb(250, 242, 243);
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: 10vh;
    margin-right: 5vh;
}
h1{
    margin: 2em auto;
    background: rgb(255, 206, 215);
    font: center bold;
    width: 11%;
    border: 0.5rem outset rgb(255, 255, 255);
    padding: 2vh;
    outline-offset: 0.5rem;
    position: relative;
}
a{
    display: flex;
    color: rgb(102, 95, 96);
    font-family: 'Cutive Mono', monospace;
    font-size: 20px;
    
}